extends layout

block content
  h1 About US
  hr
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis voluptatum hic dolorum, cum ducimus deserunt earum minima quas, laborum itaque corporis eaque quam quidem tempora pariatur assumenda reiciendis id? Vel soluta ut laudantium molestias inventore saepe, quas similique dolorem facere, vero repellat delectus architecto repudiandae.
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis voluptatum hic dolorum, cum ducimus deserunt earum minima quas, laborum itaque corporis eaque quam quidem tempora pariatur assumenda reiciendis id? Vel soluta ut laudantium molestias inventore saepe, quas similique dolorem facere, vero repellat delectus architecto repudiandae.
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis voluptatum hic dolorum, cum ducimus deserunt earum minima quas, laborum itaque corporis eaque quam quidem tempora pariatur assumenda reiciendis id? Vel soluta ut laudantium molestias inventore saepe, quas similique dolorem facere, vero repellat delectus architecto repudiandae.
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis voluptatum hic dolorum, cum ducimus deserunt earum minima quas, laborum itaque corporis eaque quam quidem tempora pariatur assumenda reiciendis id? Vel soluta ut laudantium molestias inventore saepe, quas similique dolorem facere, vero repellat delectus architecto repudiandae.
  hr
block footer
    p This is footer of about us




 

 
      
        
        


