extends layout

block content
  h1 FAQs
  hr
  h3 Question Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam, sed.
  p Answer: Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel dolorum unde, ipsum deserunt sequi vitae provident eos tempora, odio nihil beatae, ullam iusto voluptas maxime!
  hr
  h3 Question Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam, sed.
  p Answer: Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel dolorum unde, ipsum deserunt sequi vitae provident eos tempora, odio nihil beatae, ullam iusto voluptas maxime!
  hr
  h3 Question Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam, sed.
  p Answer: Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel dolorum unde, ipsum deserunt sequi vitae provident eos tempora, odio nihil beatae, ullam iusto voluptas maxime!
  hr
  h3 Question Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam, sed.
  p Answer: Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel dolorum unde, ipsum deserunt sequi vitae provident eos tempora, odio nihil beatae, ullam iusto voluptas maxime!
  hr
  h3 Question Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam, sed.
  p Answer: Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel dolorum unde, ipsum deserunt sequi vitae provident eos tempora, odio nihil beatae, ullam iusto voluptas maxime!
  hr
block footer
    p This the footer of FAQs