extends ../layout

block content
    h1 Add new Product
    form(action="/products/add" method="post")
        .form-group 
            label(for="name") Product Name 
            input#name(type="text",class="form-control" name="Name")
        .form-group 
            label(for="price") Product Price 
            input#price(type="text",class="form-control" name="Price")
        input(type="submit" , class="btn btn-info" style="margin-top: 20px")