extends ../layout

block content
    .row 
        .col-sm-8
              h1= title 
        .col-sm-4
            a(href="/products/add",class=" float-right btn btn-primary"  style="margin-Top:20px") Add Product 
     
    table.table 
        thead 
            tr 
                th Name 
                th Price
        tbody 
            each product in products
                tr
                    td=product.Name
                    td=product.Price
                    td 
                        a(href="/products/delete/"+product._id,  class="btn btn-danger") Delete  
                        a(href="/products/edit/"+product._id, class="btn btn-warning") Edit  
                        a(href="/products/cart/"+product._id, class="btn btn-primary") Add to cart  
                       
                          
                          